<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/bdd.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="logo" href="/home">UNIVERSITY DZ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home/students">STUDENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home/professors">PROFESSORS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home/courses">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="/home/departements">DEPARTMENTS</a>
                </li>
            </ul>
            <div class="d-flex">
                <!-- Profile button -->
                <a href="/home/administrators/profile" class="btn btn-outline-primary me-2">Profile</a>
                <!-- Logout button -->
                <a href="/home/logout" class="btn btn-outline-danger">Logout</a>
            </div>
            <form class="d-flex" action="/home/search" method="POST">
                <input class="form-control me-2" type="search" placeholder="Search" name="value" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

      <section class="continer zz">
      <div class="row text-center align-items-center w-100">
        <div class="col-lg-6 title">
          <h1>WELCOME TO UNIVERSITY DZ</h1>
          <br>
          <br>


          </h1>
           
        </div>
        <div class="col-lg-6">
            <img class="image" src="https://img.lovepik.com/free-png/20220125/lovepik-young-man-reading-a-book-png-image_401723717_wh1200.png" alt="" id="zohra">
        </div>
      </div>
      </section>
      <footer class="footer">
       
        <ul class="social-icon">
          <li class="social-icon__item"><a class="social-icon__link" href="www.facebook.com">
              <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
          <li class="social-icon__item"><a class="social-icon__link" href="www.x.com">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>

          <li class="social-icon__item"><a class="social-icon__link" href="www.instagram.com">
              <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="/home">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="/about">About</a></li>
          <li class="menu__item"><a class="menu__link" href="/service">Services</a></li>
          <li class="menu__item"><a class="menu__link" href="/contact">Contact</a></li>
          <!-- Logout button -->
          <li class="menu__item"><a class="menu__link" href="/logout">Logout</a></li>
        </ul>
      </footer>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>
