<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/departments.css">
    <title>Student list</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <a href="/home">
            <h1>University Dz</h1>
        </a>
        </div>
        <div class="options">
            
            
            <ul>
                <li><a href="/home/students"><img src="/images/reading-book (1).png" alt="">&nbsp;<span>Students</span></a></li>
                <li><a href="/home/professors"><img src="/images/teacher2.png" alt="">&nbsp;<span>Teachers</span></a></li>
                <li ><a href="/home/courses"><img src="/images/dashboard (2).png" alt="">&nbsp;<span>Courses</span></a></li>
                <li><a href="/home/departements"><img src="/images/school.png" alt="">&nbsp;<span>Departments</span></a></li>
                <li class="active"><a href="/home/groupes"><img src="/images/school.png" alt="">&nbsp;<span>Groupes</span></a></li>
            </ul>
            
            

        </div>
     
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="/images/search.png" alt=""></button>
                </div>
                <div class="user">
                    <img src="/images/notifications.png" alt="">
                    <div class="img-case">
                        <img src="/images/user.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-2">
                <div class="departements">
                    <div class="title">
                        <h2>Groupes</h2>
                    </div>
                    <% if (students && students.length > 0) { %>
                    <table>
                        <tr>
                            <th>Student Name</th>
                            <th>Email Address</th>

                            <th>profile</th>



                        </tr>
                        <% students.forEach(student => { %>
                        <tr>
                            <td><%= student.student_name %></td>
                            <td><%= student.student_email %></td>
                            <td><a href="/home/students/<%= student.id %>/profile">View</a></td>
                        </tr>
                        <% }); %>
                    </table>
                    <% } else { %>
                        <p>No student found.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>